<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
    <property name="hibernate.connection.driver_class">
      org.postgresql.Driver</property>
	<property name="hibernate.connection.url">
      jdbc:postgresql://localhost:5432/sandbox_hibernate</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.connection.pool_size">3</property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <!-- Mapping files -->
    <mapping resource="techscore/sample/SampleBook.hbm.xml"/>
    <mapping resource="inaction/component/User.hbm.xml"/>
    <mapping resource="inaction/inheritance/single/BillingDetails.hbm.xml"/>
    <mapping resource="inaction/association/Bid.hbm.xml"/>
    <mapping resource="inaction/association/Item.hbm.xml"/>
    <mapping resource="inaction/cascade/Category.hbm.xml"/>
    <mapping resource="inaction/fetch/ItemCategoryMapping.hbm.xml"/>
    <mapping resource="inaction/usertype/BidUsertype.hbm.xml"/>
  </session-factory>

</hibernate-configuration>